 <!-- <div class="row justify-content-end">
            <div class="col-lg-11">
              <div class="row justify-content-end">
                <div
                  class="col-lg-3 col-md-5 col-4 d-md-flex align-items-md-center-stretch"
                >
                  <div class="count-box">
                    <i class="bi bi-journal-richtext"></i>
                    <span
                      data-purecounter-start="0"
                      data-purecounter-end="85"
                      data-purecounter-duration="1"
                      class="purecounter"
                    ></span>
                    <p>Student</p>
                  </div>
                </div>

                <div
                  class="col-lg-3 col-md-5 col-4 d-md-flex align-items-md-stretch"
                >
                  <div class="count-box">
                    <i class="bi bi-clock"></i>
                    <span
                      data-purecounter-start="0"
                      data-purecounter-end="35"
                      data-purecounter-duration="1"
                      class="purecounter"
                    ></span>
                    <p>Solved</p>
                  </div>
                </div>

                <div
                  class="col-lg-3 col-md-5 col-4 d-md-flex align-items-md-stretch"
                >
                  <div class="count-box">
                    <i class="bi bi-award"></i>
                    <span
                      data-purecounter-start="0"
                      data-purecounter-end="48"
                      data-purecounter-duration="1"
                      class="purecounter"
                    ></span>
                    <p>Pending</p>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
