  <div class="over-view-text position-relative py-3">
           
                <div class="words ">
                    <span>H</span>
                    <span>A</span>
                    <span>S</span>
                    <span>S</span>
                    <span>L</span>
                    <span>E</span>
                    <span></span>
                </div>
                <div class="words ">
                    <span>H</span>
                    <span>A</span>
                    <span>L</span>
                    <span>T</span>
                </div>
           </div>